.maincontent__bg-autumn{
  background: url('../images/content/bg-autumn.jpg') center center / cover no-repeat;
  min-height:1375px;
  position: relative;
  &:after{
    content:url('../images/content/foliage-one.png');
    position: absolute;
    bottom: 80%;
    right: 0;
    z-index: 10;
  }

}