.nav__list{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.nav__item{
  padding-left: 60px;
  white-space: nowrap;
  &:first-child{
    padding-left: 0;
  }
}

.nav__link{
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}