.portfolio{
  display: flex;
  color:#fff;
  justify-content: center;
  margin-top: 330px;
  flex-direction: row-reverse;
}
.portfolio__subtitle{
  font-size: 18px;
  text-align: right;
  opacity: 0.4;
  font-weight: 600;
  line-height: 1.67;
  width: 165px;
  height: 48px;
}
.portfolio__title{
  width: 411px;
  height: 112px;
  font-size: 72px;
  font-weight: 800;
  line-height: 0.83;
  padding-left: 60px;
}