.primary {
  background:url('../images/content/bg-train.jpg') top center / cover no-repeat, 
  url('../images/content/bg-numbers.png') bottom center/ cover repeat;
  background-size:100%;
  min-height:1722px;
}
