.review {
  background: url('../images/content/bg-about.png') center center / cover no-repeat;
  min-height:1375px;
}
.review__btn-prev{
  width: 8px;
  height: 10px;
}
.review__btn-next{
  width: 8px;
  height: 10px;
}
.review__svg-quote{
  width: 75px;
  height: 63px;
}