.skill {
  background: url('../images/content/bg-skills.png') center center / cover no-repeat;
  min-height: 1021px;

  &:after{
    content:url('../images/content/hands.png');
    position: absolute;
    top: 129px;
    z-index: 10;
  }
}
.skill__desc{
  margin-top: 150px;
  margin-left: 535px;
}
.skill__desc-text{
  width: 586px;
  margin-top: 59px;
  font-size: 16px;
  opacity: 0.5;
  font-weight: 600;
  line-height: 1.88;
  color:$text-color;
}
