.social__list{
  display: flex;
  &--header{
  opacity: 0.4;
  }
}
.social__item{
  width: 25px;
  height: 25px;
  margin-left: 40px;
  &:first-child{
    margin-left: 0;
  }
}
.social__icon{
  width: 100%;
  height: 100%;
  fill:#fff;
}
