.works {
  background-color: $text-color;
  height: 1086px;

  @include desktop {
    height: 788px;
  }

  @include tablets {
    height: 981px;
  }

  @include phones-small {
    height: 903px;
  }

}

.works .container {
  @include phones {
    width: 100%;
  }
}

.works__wrap {
  margin-top: 203px;

  @include desktop {
    margin-top: 152px;
  }

  @include tablets {
    margin-top: 124px;
  }
  
  @include phones {
    margin-top: 99px;
  }
}
