.ability
  .ability__wrap
    ul.ability__list
      li.ability__item
        h3.ability__title
          | Front-end
        ul.talent__list
          li.talent__item
            .talent__img
              svg.talent__svg(viewbox="0 0 100 100" preserveaspectratio="none")
                defs
                  lineargradient#gradient(x1="0%" y1="0%" x2="100%" y2="0%")
                    stop(offset="0%" stop-color="#f29400")
                    stop(offset="100%" stop-color="#ea7400")
                circle.circle.talent__svg-base(cx="50" cy="50" r="45")
                circle.circle.talent__svg-progress(cx="50" cy="50" r="45" style="animation-delay: -80s")
            .talent__title  HTML5 
          li.talent__item
            .talent__img
              svg.talent__svg(viewbox="0 0 100 100"  preserveaspectratio="none")
                circle.circle.talent__svg-base(cx="50%" cy="50%" r="45")
                circle.circle.talent__svg-progress(cx="50%" cy="50%" r="45" style="animation-delay: -70s")
            .talent__title  CSS3
          li.talent__item
            .talent__img
              svg.talent__svg(viewbox="0 0 100 100" preserveaspectratio="none")
                circle.circle.talent__svg-base(cx="50%" cy="50%" r="45")
                circle.circle.talent__svg-progress(cx="50%" cy="50%" r="45" style="animation-delay: -25s")
            .talent__title  Javascript
          li.talent__item
            .talent__img
              svg.talent__svg(viewbox="0 0 100 100" preserveaspectratio="none")
                circle.circle.talent__svg-base(cx="50%" cy="50%" r="45")
                circle.circle.talent__svg-progress(cx="50%" cy="50%" r="45" style="animation-delay: -10s")
            .talent__title Jquery и Vue.js
      li.ability__item
        h3.ability__title
          | Workflow
        ul.talent__list
          li.talent__item
            .talent__img
              svg.talent__svg(viewbox="0 0 100 100"  preserveaspectratio="none")
                circle.circle.talent__svg-base(cx="50%" cy="50%" r="45")
                circle.circle.talent__svg-progress(cx="50%" cy="50%" r="45" style="animation-delay: -40s")
            .talent__title  GIT 
          li.talent__item
            .talent__img
              svg.talent__svg(viewbox="0 0 100 100"  preserveaspectratio="none")
                circle.circle.talent__svg-base(cx="50%" cy="50%" r="45")
                circle.circle.talent__svg-progress(cx="50%" cy="50%" r="45" style="animation-delay: -45s")
            .talent__title  Terminal 
          li.talent__item
            .talent__img
              svg.talent__svg(viewbox="0 0 100 100" preserveaspectratio="none")
                circle.circle.talent__svg-base(cx="50%" cy="50%" r="45")
                circle.circle.talent__svg-progress(cx="50%" cy="50%" r="45" style="animation-delay: -30s")
            .talent__title  Gulp
          li.talent__item
            .talent__img
              svg.talent__svg(viewbox="0 0 100 100"  preserveaspectratio="none")
                circle.circle.talent__svg-base(cx="50%" cy="50%" r="45")
                circle.circle.talent__svg-progress(cx="50%" cy="50%" r="45" style="animation-delay: -30s")
            .talent__title Webpack