<<<<<<< HEAD
=======
<<<<<<< HEAD
section.section.feedback(id="feedback")
	.container
		.feedback__wrap
			h3.section-title.feedback__title Связаться со мной
			.feedback-form__wrap
				include form
=======
>>>>>>> week_3
section.section.feedback
  .container
    .feedback__wrap
      h3.section-title.feedback__title Связаться со мной
      .feedback-form__wrap
<<<<<<< HEAD
        include form
=======
        include form
>>>>>>> master
>>>>>>> week_3
