section.section.feedback
  h3.section-title.feedback__title Связаться со мной
  form.feedback__form
    .feedback__row
      label.feedback__block
        .feedback__label-text Введите ваше имя
        +icon('user', 'feedback__label-icn')
        input(type='text' name='name' placeholder='Макейкин Александр').feedback__name
      label.feedback__block
        .feedback__label-text Введите ваше имя
        +icon('envelope', 'feedback__label-icn')
        input(type='email' name='email' placeholder='amakeykin@yandex.ru').feedback__name
    .feedback__row
      label.feedback__block
        .feedback__label-text Введите ваше имя
        +icon('chat', 'feedback__label-icn')
        textarea(name="textarea", cols="30", rows="10").feedback__name Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса
    button.feedback__btn(type='submit') Отправить