form.feedback__form.j-form(action="#")
  .feedback__row
    label.feedback__block.j-name.j-block
      .feedback__label-text Введите ваше имя
      .feedback__error.j-error-block
      input(type='text' name='name' placeholder='Макейкин Александр').feedback__name
      .feedback__block-svg
        +icon('avatar', 'feedback__label-icn')
    label.feedback__block.j-email.j-block
      .feedback__label-text Введите ваш email
      .feedback__error.j-error-block
      input(type='email' name='email' placeholder='amakeykin@yandex.ru').feedback__name
      .feedback__block-svg
        +icon('envelope', 'feedback__label-icn')
  .feedback__textarea
    label.feedback__block.j-text.j-block
      .feedback__label-text Сообщение к письму
      .feedback__error.j-error-block
      textarea.feedback__name.feedback__name--textarea(name="textarea", cols="30", rows="3" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
      .feedback__block-svg
        +icon('chat', 'feedback__label-icn feedback__label-icn--textarea')
  button.feedback__btn.j-submit-btn(type='submit') Отправить
