a.hamburger-link(href="#")
  .hamburger-link__button
  .popup-menu
    .popup-menu__container
      nav.popup-menu__navigation
        ul.popup-menu__list
<<<<<<< HEAD
=======
<<<<<<< HEAD
          -var menu=[{name:'Главная', href:"#primary"}, {name:'Обо мне', href:"#about"}, {name:'Навыки', href:"#skill"}, {name:'Работы', href:"#works"}, {name:'Отзывы', href:"#reviews"}, {name:'Связаться', href:"#feedback"}];
          each item in menu
            li.popup-menu__item
              a(href=item.href).popup-menu__link=item.name
=======
>>>>>>> week_3
          -var menu=['Главная','Обо мне','Навыки','Работы','Отзывы','Связаться'];
          each item in menu
            li.popup-menu__item
              a.popup-menu__link #{item}
<<<<<<< HEAD
=======
>>>>>>> master
>>>>>>> week_3
      .popup__social
        include social 
        +social('hamburger')