.parallax__layer(data-speed="0.08" data-parallax-disallow="y" data-parallax-deep="6000")
  +image('content/parallax_one.png', 'parallax__image', 'presentation')
.parallax__layer(data-speed="0.13" data-parallax-deep="5000",)
  +image('content/parallax_two.png', 'parallax__image', 'presentation')
.parallax__layer(data-speed="0.15" data-parallax-deep="4000",)
  +image('content/parallax_three.png', 'parallax__image', 'presentation')
.parallax__layer(data-speed="0.2" data-parallax-deep="3000",)
  +image('content/parallax_four.png', 'parallax__image', 'presentation')