section.section.primary
  .container
    .header__wrap
      include header
    .portfolio
      h2.portfolio__title
        | Макейкин Александр
      h3.portfolio__subtitle
        | Личный сайт
        br 
        | веб разработчика
    .scroll
      .scroll__text Скролл
      button.scroll__button
        +icon('scroll', 'scroll__button-svg')
    include about 