section.section.primary
  .parallax
    .parallax__layer(data-speed="0.08")
      +image('content/parallax_one.png', 'parallax__image')
    .parallax__layer(data-speed="0.13")
      +image('content/parallax_two.png', 'parallax__image')
    .parallax__layer(data-speed="0.15")
      +image('content/parallax_three.png', 'parallax__image')
    .parallax__layer(data-speed="0.2")
      +image('content/parallax_four.png', 'parallax__image')
  .container
    .header__wrap
      include header
    .portfolio
      h2.portfolio__title
        | Макейкин Александр
      h3.portfolio__subtitle
        | Личный сайт
        br 
        | веб разработчика
    .scroll
      .scroll__text Скролл
      button.scroll__button
        +icon('scroll', 'scroll__button-svg') 