<<<<<<< HEAD
section.section.review(id="reviews")
=======
section.section.review
>>>>>>> master
  .container
    .review__wrap
      h2.section-title.review__title
        | Что обо мне говорят
      .review__content
        #reviews-slider
<<<<<<< HEAD
          include review-slider
=======
        include review-slider
>>>>>>> master
