script(type="text/x-template")#reviews-template
  .reviews-slider
    flickity(ref="flickity" :options="flickityOptions")
      li(v-for="review in reviews" :key="review.id").reviews-slider__item
        review(
          :review="review"
        )
    .review__slider-controls
      button(type="button" @click="previous()").review__btn
        +icon('short-arrow', 'review__btn-prev')
      button(type="button" @click="next()").review__btn
        +icon('short-arrow', 'review__btn-next')

script(type="text/x-template")#review
  .review__item
    .review__text.section-text
      +icon('quote', 'review__svg-quote')
      p {{review.text}}
    .review__author
      .review__photo
        img(:src="review.avatar" :alt="review.autor").review__photo-img
      .review__writer
        .author__title {{review.autor}}
        .author__text {{review.position}}