<<<<<<< HEAD
.scroll__text Скролл
a.scroll__button
  +icon('scroll', 'scroll__button-svg') 
=======
<<<<<<< HEAD
a(href="#about").scroll__button 
  .scroll__text Скролл
  .scroll__svg
    +icon('scroll', 'scroll__svg-icn') 
=======
.scroll__text Скролл
a.scroll__button
  +icon('scroll', 'scroll__button-svg') 
>>>>>>> master
>>>>>>> week_3
