<<<<<<< HEAD
section.section.skill(id="skill")
=======
section.section.skill
>>>>>>> master
  .container
    .skill__desc
      h3.section-title.section-title--small.skill__desc-title
        | Чем я могу быть полезен вам
      .skill__desc-text.section-text
        p
          | Этот сайт я сделал в рамках обучения в Школе онлайн образования
          | Loftschool. Чуть позже я освежу в нем свой контент. А пока
          | посмотрите, как тут все классно и красиво!
      .ability
        #ability-container
          include ability
    