section.section.skill
  .container
    .skill__desc
      h3.section-title
        | Чем я могу быть полезен вам
      .skill__desc-text
        p
          | Этот сайт я сделал в рамках обучения в Школе онлайн образования
          | Loftschool. Чуть позже я освежу в нем свой контент. А пока
          | посмотрите, как тут все классно и красиво!
      include ability
      