script(type="text/x-template")#slider-container
  .slider__wrap
    display(
      :works="works"
      :currentWork="currentWork"
      :currentIndex="currentIndex"
      @slide="handleSlide"
    )
    info(
      :currentWork="currentWork"
    )
    .slider__desc
      .slider__desc-num
        | 1

script(type="text/x-template")#slider-display
  .slider__img(:data-slide="currentIndex + 1")
    img(:src="currentWork.photo", alt="Главная картинка слайдера").slider__img-main
    btns(
      @slide="direction => $emit('slide', direction)"
    )
    thumbs(
      :works="works"
      :currentWork="currentWork"
    )
script(type="text/x-template")#slider-btns
  .slider__button
    button(type='button', @click="$emit('slide', 'next')").slider__btn.slider__btn-next
      +icon('short-arrow', 'slider-next__icn')
    button(type='button', @click="$emit('slide', 'prev')").slider__btn.slider__btn-prev
      +icon('short-arrow', 'slider-prev__icn')

script(type="text/x-template")#slider-thumbs
  ul.slider__img-list
    li.slider__img-item(
      v-for="work in works"
      :class="{active: work.id === currentWork.id}"
    )
      img(:src="work.photo", alt="Картинка слайдера").slider__img-pic

script(type="text/x-template")#slider-info
  .slider__desc-info
    tags(
      :tags="tagsArray"
    )
    .slider__desc-content
      h3.section-title.section-title--black.section-title--small.slider__desc-title {{currentWork.title}}
      .slider__desc-text.section-text.section-text--black
        p {{currentWork.desc}}
      a(:href="currentWork.link").slider__desc-link Посмотреть сайт
        +icon('link', 'slider__desc-icn')

script(type="text/x-template")#slider-tags
  ul.slider__skill-list
    li.slider__skill-item(v-for="tag in tags")
      {{tag}}

