<<<<<<< HEAD
section.section.works
=======
<<<<<<< HEAD
section.section.works(id="works")
=======
section.section.works
>>>>>>> master
>>>>>>> week_3
  .container
    .works__wrap
      h2.section-title.section-title--black
        | Мои работы
<<<<<<< HEAD
      include slider
=======
<<<<<<< HEAD
      #slider-component
=======
      include slider
>>>>>>> master
>>>>>>> week_3
